@use 'general';
@use 'vars' as v;
@use 'fonts';
@use 'mixins' as m;
@use 'functions' as f;
@use 'sass:color';
@use 'sass:string';

@function pxVW($value) {
    $width: 1339;
    $result: calc($value / $width * 100);
    $result: string.unquote($result + "vw");
    @return $result;
}

@function pxVH($value) {
    $height: 1024;
    $result: calc($value / $height * 100);
    $result: string.unquote($result + "vh");
    @return $result;
}

.page__main {
    // height: 100%;
}

.content-assets {
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    padding: 30px;
    margin-left: 248px;
    // height: 100%;

    &__name {
        height: 40px;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-template-rows: 4fr 5fr 3fr;
        gap: 20px;
        // flex-grow: 1;
    }

    &__car {
        grid-row: span 3;
    }

    &__activity {
        grid-column: span 2;
        overflow: hidden;
    }

    &__reminder {
        grid-column: span 2;
    }
}

.car {
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: transparent;
    
    &__bg {
        position: absolute;
        width: 100%;
        height: 75%;
        z-index: -1;
    }

    &__wrapper {
        padding: 30px 25px;
        padding-bottom: 0;
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    &__stats {
        display: grid;
        grid-template-columns: 1fr 2px 1fr;
        align-items: center;

        row-gap: 25px;
    }

    &__stat {
        position: relative;
        margin: 0 auto;
    }

    &__stat-name {
        font-size: 16px;
        font-weight: 500;
        color: v.$dark5;
    }

    &__stat-value {
        font-size: 20px;
        font-weight: 700;
        margin-top: 4px;
    }

    &__img {
        max-width: 100%;
        height: 0;
        flex-grow: 1;
        
        object-fit: contain;
        object-position: top;

        margin-top: 48px;
    }

    &__spacer {
        height: 40px;
        background-color: v.$spacers-lighter;
    }
}

.activity {
    --transition: 0.1s linear;


    padding: 27px 24px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top-bar {
        display: flex;
        justify-content: space-between;
    }

    &__view-all {
        color: v.$white1;
    }
}

.stats-activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

    margin-top: 29px;

    &__svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    &__graphics {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 10px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__column {
        height: 100%;
        flex-grow: 1;
        background-color: transparent;
    }

    &__spacers {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    &__spacer {
        height: 100%;
        width: 2px;
        background-color: v.$spacers;
    }

    &__names {
        display: flex;
        justify-content: space-between;
    }

    &__item-name {
        font-size: 12px;
        font-weight: 500;
        color: v.$dark4;
    }

    &__svg {
        .data__line {
            color: v.$primary3;
        }
        .data__gradient {
            color: v.$primary3;
        }
    }
}

.marker {
    position: absolute;
    bottom: 0;
    height: 160px;
    transition: left var(--transition);

    &__bg {
        background: linear-gradient(v.$primary3transparent, transparent);
        border-radius: 10px;
        width: 41px;
        height: 100%;
    }
}

.dot {
    display: block;
    background-color: v.$primary3;
    border: 2px solid v.$dot;
    height: 11px;
    width: 11px;

    transform: translateX(-50%);

    transition: top var(--transition);
}

.noties {
    padding: 13px 20px;

    &__header {
        margin-bottom: 20px;
    }

    &__main {

    }
}

.notification {
    display: flex;
    gap: 14px;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        background: v.$notifications;
        box-shadow: 0px 2px 4px v.$notifications-shadow;
        border-radius: 50%;
        width: 44px;
        height: 44px;
    }

    &__icon-svg {

    }
}

.tooltip_activity {
    font-size: 13px;
    font-weight: 500;
    background: transparent;
    visibility: visible;
    transition: left var(--transition),
                right var(--transition);
    width: max-content;

    .tooltip__value {
        left: auto;
        font-size: 18px;
        font-weight: 700;

        margin-top: 6px;

        &::before {
            display: none;
        }
    }
}

