@use 'general';
@use 'vars' as v;
@use 'fonts';
@use 'mixins' as m;
@use 'functions' as f;
@use 'sass:color';
@use 'sass:string';

$transition: 0.2s linear;

@function pxVW($value) {
    $width: 1339;
    $result: calc($value / $width * 100);
    $result: string.unquote($result + "vw");
    @return $result;
}

@function pxVH($value) {
    $height: 1024;
    $result: calc($value / $height * 100);
    $result: string.unquote($result + "vh");
    @return $result;
}

.arrow {
    border: solid 4px transparent;
    border-top: solid 5px v.$dark4;
}

.marker {
    height: 160px;
    transition: left var(--transition);

    &__bg {
        background: linear-gradient(v.$primary3transparent, transparent);
        border-radius: 10px;
        width: 41px;
        height: 100%;
    }
}

// Переопределение, надо переделать
.dot {
    display: block;
    background-color: v.$primary3;
    border: 2px solid v.$dot;
    height: 11px;
    width: 11px;

    transform: translate(-50%, -50%);

    transition: top var(--transition);
}

.tooltip_activity {
    font-size: 13px;
    font-weight: 500;
    background: transparent;
    visibility: visible;
    transition: left var(--transition),
                right var(--transition);
    width: max-content;

    .tooltip__value {
        left: auto;
        font-size: 18px;
        font-weight: 700;

        margin-top: 6px;

        &::before {
            display: none;
        }
    }
}

.notification {
    display: flex;
    gap: 14px;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        background: v.$notifications;
        box-shadow: 0px 2px 4px v.$notifications-shadow;
        border-radius: 50%;
        width: 44px;
        height: 44px;
    }

    &__icon-svg {
        margin: 0 auto;
    }

    &__title {
        // margin-bottom: 4px;
        font-size: 13px;
        font-weight: 500;
    }

    &__subtitle {
        // margin-bottom: 10px;
        font-size: 11px;
        font-weight: 400;
        color: v.$dark4;
    }

    &__status {
        background-color: rgba(43, 46, 56, 1);
        background-color: v.$notifications;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 700;
        padding: 4px 10px;
    }

    &__status_completed {
        text-transform: uppercase;
        background-color: v.$notifications-status-ok;
    }
}

.sensor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

    &__label {
        font-size: 13px;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__unit {
        color: v.$dark3;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &__custom-checkbox {
        margin-right: 10px;
        flex-shrink: 0;
    }

    &__checkbox:checked ~ &__label-text,
    &__checkbox:checked ~ &__unit {
        color: v.$secondary1;
    }

    &__graphic-svg {
        color: v.$sensor__graphic-svg;
    }
}

.content-assets {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 248px;
    $header-height: 40px;
    $header-margin-bottom: 20px;

    &__name {
        height: $header-height;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: $header-margin-bottom;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, minmax(min-content, 1fr));
        gap: 20px;

        min-height: 0;
        flex-grow: 1;
    }

    &__car {
        grid-row: span 12;
        grid-column: span 4;
    }

    &__activity {
        grid-row: span 4;
        grid-column: span 8;
        overflow: hidden;
        min-height: 170px;
    }

    &__noties {
        grid-row: span 5;
        grid-column: span 4;
    }

    &__sensors {
        grid-row: span 5;
        grid-column: span 4;
    }

    &__reminder {
        grid-row: span 3;
        grid-column: span 8;
    }
}

.car {
    // min-width: 330px;
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: transparent;
    
    &__bg {
        position: absolute;
        width: 100%;
        height: 75%;
        z-index: -1;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 30px 25px;
        padding-bottom: 0;
        height: 100%;
    }

    &__stats {
        display: grid;
        grid-template-columns: 1fr 2px 1fr;
        align-items: center;

        row-gap: 25px;
    }

    &__stat {
        position: relative;
        margin: 0 auto;
    }

    &__stat-name {
        font-size: 16px;
        font-weight: 500;
        color: v.$dark5;
    }

    &__stat-value {
        font-size: 20px;
        font-weight: 700;
        margin-top: 4px;
    }

    &__img {
        max-width: 100%;
        height: 0;
        flex-grow: 1;
        
        object-fit: contain;
        object-position: top;

        margin-top: 48px;
    }

    &__spacer {
        height: 40px;
        background-color: v.$spacers-lighter;
    }
}

.activity {
    --transition: 0.1s linear;


    padding: 27px 24px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__view-all {
        color: v.$white1;
    }
}

.stats-activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

    margin-top: 29px;

    &__svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__marker {
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    &__graphics {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 10px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__column {
        height: 100%;
        flex-grow: 1;
        background-color: transparent;
    }

    &__spacers {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    &__spacer {
        height: 100%;
        width: 2px;
        background-color: v.$spacers;
    }

    &__names {
        display: flex;
        justify-content: space-between;
    }

    &__item-name {
        font-size: 12px;
        font-weight: 500;
        color: v.$dark4;
    }

    &__svg {
        .data__line {
            color: v.$primary3;
        }
        .data__gradient {
            color: v.$primary3;
        }
    }
}

.noties {
    padding: 13px 20px;
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 20px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // gap: 18px;
        gap: 5px;
        flex-grow: 1;
    }
}

.sensors {
    display: flex;
    flex-direction: column;

    padding: 20px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 18px;
        font-weight: 500;

        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid v.$spacers-header;
    }

    &__select-root {
        position: relative;
        font-size: 12px;
        font-weight: 500;
        color: v.$dark4;
        display: flex;
    }

    &__select {
        position: absolute;
        top: calc(100% + 5px);
        right: -10px;
        cursor: default;
    }

    &__radio-item:not(:first-child) {
        margin-top: 10px;
    }

    &__main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__button {
        padding: 2.5px 12px;
        margin-top: 15px;
        align-self: flex-start;


        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 500;
    }
}

.reminder {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;

        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid v.$spacers-header;
    }

    &__add {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 12px;
    }

    &__table {
        flex-grow: 1;
    }

    &__table-header {
        color: v.$dark4;
        font-size: 14px;
        font-weight: 500;
    }

    &__table-row {
        font-size: 13px;
        font-weight: 500;
    }
}


.modal-add-new-reminder {
    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    &__field {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: v.$dark4;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__input {
        border-radius: 3px;
        border: 1px solid rgba(51, 54, 66, 1);
        background-color: transparent;
        color: inherit;
        padding: 5px;

        &::-webkit-calendar-picker-indicator {
            filter: invert(100%);
            cursor: pointer;
        }
    }

    &__field_description {
        grid-column: span 2;
    }

    &__field_notify {
        grid-column: span 2;
    }

    &__submit {
        grid-column: span 2;
        margin-top: 20px;

        background-color: v.$primary3;
        border: none;
        border-radius: 5px;
        color: inherit;
        cursor: pointer;
        padding: 5px;
    }
}




.modal-sensors-see-all {
    &__group-name {
        color: v.$dark4;
        font-size: 14px;
        font-weight: 500;
    }

    &__item {
        margin-left: 20px;
    }
}