@use 'vars' as v
@use 'fonts'
// @use "sass:color"

*
    box-sizing: border-box
    padding: 0
    margin: 0

input
    border: none
    &:focus
        outline: none

// PAGE
.page
    font-family: 'DM Sans', sans-serif
    background-color: v.$background
    color: v.$text
    &__sidebar
        position: fixed
        padding-left: 26px
    &__main
        margin-left: 248px

// BLOCKS
.link
    color: inherit
    text-decoration: inherit

.sidebar
    display: flex
    flex-direction: column

    width: 248px
    height: 100%
    background-color: v.$primary1

    font-family: DM Sans
    font-size: 14px
    font-weight: 500
    line-height: 18px
    &__logo
        display: flex
        margin-top: 30px
        margin-bottom: 35px
    &__logo-img
        display: block
        width: 109px
        height: auto

.nav
    display: flex
    flex-direction: column
    height: 100%
    &__controls
        margin-top: auto
    &__link
        &:hover
            filter: opacity(0.75)
        display: flex
        flex-direction: row
        align-content: center
        
        border-radius: 6px

        width: 174px
        padding: 7px
        padding-left: 8px
        margin-bottom: 17px

        filter: opacity(0.5)
        background-color: transparent
    &__img
        margin-right: 8px
    &_current-link
        filter: none
        background-color: v.$link-active
   
.header
    display: flex
    height: 78px
    background-color: v.$primary1

    padding-left: 30px
    padding-right: 30px
    &__searchbar
        margin-top: auto
        margin-bottom: auto
    &__user
        margin-left: auto
        margin-top: auto
        margin-bottom: auto

$header_inner_height: 46px

.searchbar
    display: flex
    width: 358px
    height: $header_inner_height
    background-color: v.$background
    border-radius: 8px
    &__icon
        margin-left: auto
        margin-right: auto
        width: 20px
        height: auto
    &__form
        margin-left: auto
    &__input
        width: 306px
        height: 100%
        background-color: transparent
        caret-color: v.$caret-color

        color: v.$text
        font-family: 'DM Sans'
        font-style: normal
        font-weight: 500
        font-size: 16px

.user
    display: flex
    justify-content: flex-end
    align-items: center

    width: 110px
    height: $header_inner_height
    &__profile
        margin-left: 39px

.profile
    position: relative
    overflow: hidden
    border-radius: 50%

    width: $header_inner_height
    height: $header_inner_height
    &__img
        height: 100%
        width: auto
        transform: translate(var(--avatar_translate, 0)) scale(var(--avatar_scale, 1))

.content
    display: grid
    column-gap: 25px
    row-gap: 25px
    justify-items: center

    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 266px 332px 236px

    padding: 30px
    width: 100%

// Primary3     purple
// secondary1   red
// secondary2   yellow

.grid
    border-radius: 14px
    background-color: v.$primary1
    &_active
        .grid__logo
            filter: brightness(98%) hue-rotate(-5deg) brightness(115%)
        .grid__name
            visibility: visible
    &_3
        grid-column: span 3
        width: 232px
    &_4
        grid-column: span 4
        width: 318px
    &_6
        grid-column: span 6
        width: 488px
    &_meter
        display: flex
        flex-direction: column
        align-items: center

    &__logo
        -webkit-mask-size: cover
        -webkit-mask-image: url('/assets/img/range.svg')
        mask-size: cover
        mask-image: url('/assets/img/range.svg')
        background-color: green
        width: 40px
        height: 40px

        margin-top: 22.5px
    &__name
        visibility: hidden
        margin-top: 10px
        font-size: 24px
        font-weight: 700
    &__progress-bar
        margin-top: 30px

#energy
    &.grid_active
        background-color: v.$primary3
        .grid__logo
            content: url('/assets/img/energy_active.svg')
#range
    &.grid_active
        background-color: v.$secondary1
        .grid__logo
            content: url('/assets/img/range_active.svg')
#break-fluid
    &.grid_active
        background-color: v.$primary3
        .grid__logo
            content: url('/assets/img/break_fluid_active.svg')
#tire-wear
    &.grid_active
        background-color: v.$secondary2
        color: v.$primary1
        .grid__logo
            content: url('/assets/img/tire_wear_active.svg')