@use 'vars' as v;
@use 'functions' as f;
@use 'mixins' as m;
@use 'reset';

// debug
// * {
//     background: rgba(0, 100, 0, 0.1)!important;
// }

.header {
    background-color: v.$background2;
    height: f.rem(78px);

    &__inner {
        display: flex;
    }
}

.sidebar {

}
// .sidebar {
//     background-color: v.$background2;
//     width: f.rem(100px);
//     height: f.rem(100px);
// }