@use 'reset';
@use 'vars' as v;
@use 'fonts';
@use 'mixins' as m;
@use "sass:color";

$header-height: 78px;
$header-inner-height: 46px;
$select-transition: 0.4s ease;

input {
    border: none;

    &:focus {
        outline: none;
    }
}

:root {
    --tooltip: var(--secondary3);
    --secondary3: #{v.$secondary3};
    --secondary4: #{v.$secondary4};

    --avatar_translate: 0, 0;
}

html, body {
    min-width: min-content;
}

// .button {
//     background-color: v.$dark1;
//     border-radius: 20px;
// }

.datepicker {
    z-index: 2000!important;
}

.select {
    padding: 10px;
    background-color: v.$background;
    border: 2px solid v.$spacers;
    border-radius: 10px;
    overflow: hidden;
    width: max-content;
    // width: 150px;

    transition: max-height $select-transition;
    max-height: 1px;

    &__apply-button {
        margin-top: 10px;
    }

    &_open {
        max-height: 400px;
    }
}

.arrow {
    transition: transform $select-transition;
    transform-origin: center 15%;
    transform: translate(80%, 40%) rotate(90deg);

    // При открытом селекте
    &_open {
        transform: translate(80%, 40%);
    }
}

.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid rgba(51, 54, 66, 1);

    &__checkmark {
        visibility: hidden;
    }

    &_bgcolor_secondary1 {
        // checked state
        // работает только после настоящего чекбокса
        input[type="checkbox"]:checked + & {
            background-color: v.$secondary1;
            border: none;
    
            .custom-checkbox__checkmark {
                visibility: visible;
            }
        }
    }
}

.radio {
    margin: 0;
}

.radio-item {
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__radio {
        margin-right: 10px;
    }
}

.button {
    border: none;
    border-radius: 5px;
    color: v.$white;
    cursor: pointer;

    &_round {
        border-radius: 50%;
    }

    &_bgcolor_secondary1 {
        background-color: v.$secondary1;
    }

    &_bgcolor_primary3 {
        background-color: v.$primary3;
    }

    &_bgcolor_dark1 {
        background-color: v.$dark1;
    }

    &_bgcolor_transparent {
        background-color: transparent;
    }
}

// PAGE
.page {
    margin: 0 auto;
    max-width: 1339px;

    font-family: v.$ff-primary;
    background-color: v.$background;
    color: v.$text;

    &__sidebar {
        position: fixed;
        top: 0;
        padding: 0 26px;
    }
}

._first-screen {
    height: calc(100vh - $header-height);
}

.content {
    &__grid-item {
        border-radius: 14px;
        background-color: v.$primary1;
        color: v.$text;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 248px;
    $header-height: 40px;
    $header-margin-bottom: 20px;

    &__name {
        height: $header-height;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: $header-margin-bottom;
    }
}


// BLOCKS
.link {
    color: inherit;
    text-decoration: inherit;
}

.sidebar {
    z-index: 500;
    display: flex;
    flex-direction: column;

    width: 248px;
    height: 100vh;
    background-color: v.$primary1;

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    &__logo {
        display: flex;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    &__logo-img {
        display: block;
        width: 109px;
        height: auto;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__controls {
        margin-top: auto;
    }

    &__link {
        display: flex;
        align-content: center;

        border-radius: 6px;

        width: 174px;
        padding: 7px;
        padding-left: 8px;
        margin-bottom: 17px;

        filter: opacity(0.5);
        background-color: transparent;

        &:hover {
            filter: opacity(0.75);
        }
    }

    &__img {
        margin-right: 8px;
    }

    &_current-link {
        filter: none;
        background-color: v.$link-active;
        
        &:hover {
            filter: brightness(1.1);
        }
    }
}

.header {
    background-color: v.$primary1;
    margin-left: 248px;

    &__inner {
        display: flex;
        gap: 20px;
        align-items: center;

        box-sizing: content-box;
        height: $header-inner-height;
        padding: calc(($header-height - $header-inner-height) / 2) 30px;
    }

    &__user {
        margin-left: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-basis: 110px;

        > * {
            flex-shrink: 0;
        }
    }

    &__notification-bell {
        width: calc(20/46 * $header-inner-height);
        height: auto;
    }

    &__profile {
        height: $header-inner-height;
        width: $header-inner-height;
    }

    &__searchbar {
        height: $header-inner-height;
    }
}

.searchbar {
    display: flex;
    align-items: center;

    min-width: 188px;
    width: 358px;
    height: 46px;
    padding: 0 18px;

    background-color: v.$background;
    border-radius: 8px;

    &__icon {
        margin-right: 16px;
        width: 20px;
        height: 20px;
    }

    &__form {
        flex-grow: 1;
    }

    &__input {
        width: 100%;

        background-color: transparent;
        caret-color: v.$caret-color;

        color: v.$text;
        font-weight: 500;
        font-size: 16px;
    }
}

.notification-bell {
    width: 20px;
    height: 24px;
    &__img {
        height: 100%;
        width: 100%;
    }
}

.profile {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;

    &__img {
        height: 100%;
        width: 100%;
    }
}

.tooltip {
    visibility: hidden;
    position: absolute;
    border-radius: 5px;
    background-color: v.$tooltip;

    padding: 2px 8px;
    z-index: 1000;

    font-size: 10px;
    font-weight: 700;
    pointer-events: none;

    &__value {
        position: relative;
        left: 9px;
    }

    &__value::before {
        content: '';
        position: absolute;
        left: -9px;
        top: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--tooltip);
    }
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    padding: 15px 35px;

    &__header {
        align-self: flex-start;
        margin-bottom: 24px;
    }

    &__span {
        font-weight: 700;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        margin-bottom: 20px;
    }

    &__timespan {
        display: flex;
        justify-content: space-between;
    }

    &__miles {
        font-size: 14px;
        font-weight: 700;
        color: v.$text-inactive;
    }

    &__day,
    &__week,
    &__month {
        appearance: none;

        + label {
            font-size: 10px;
            font-weight: 700;
            padding: 3.5px 12px;
            border-radius: 24px;
            color: v.$dark5;
            margin: 0 2px;
        }

        + label:hover {
            outline: 2px solid v.$secondary3;
            background-color: v.$secondary3transparent;
            cursor: pointer;
        }

        &:checked + label {
            background-color: v.$secondary3;
            color: v.$text;
        }
    }

    &__chart {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-grow: 1;
    }

    &__chart-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        justify-content: flex-end;
        align-items: center;
        width: 40px;
        // width: 11.8%;
    }

    &__spacer {
        width: 2px;
        height: 90%;
        background-color: v.$spacers;
    }

    &__column {
        position: relative;
        width: 28px;
        // height: 193px;
        background-color: v.$background;
        margin-bottom: 7px;
        // transition: 0.2s ease-in;
    }

    &__item-name {
        color: v.$dark4;
        font-size: 14px;
        font-weight: 400;
    }
}

.dot {
    display: none;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: v.$secondary4;
}

.block-header {
    font-weight: 500;
    font-size: 20px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;

    background-color: v.$modal-bg;

    &__window {
        background-color: v.$primary1;
        padding: 15px;
        border-radius: 14px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid v.$spacers-header;
    }

    &__close-button {
        cursor: pointer;
        width: 15px;
    }

    &__content {
        margin-top: 10px;

        max-height: 80vh;
        overflow: auto;
    }
}